<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user_css/header.css">
    <link rel="stylesheet" href="/user_css/footer.css">
    <link rel="stylesheet" href="/user_css/start_page.css">
    <title>Pragma</title>
</head>
<body>
    <%- include ('user_layuots/header') -%>
    <%- include ('user_layuots/start_page') -%>
    <%- include ('user_layuots/footer') -%>
    <script src="/js/carousel.js"></script>
</body>
</html>