    <footer>
        <div class="top__footer">
            <div class="top__container">
                    <div class="container__info">
                        <div class="container__logo">
                            <a href="/" class="logo-link">pragma</a>
                        </div>
                        <div class="container__blocks">
                            <div class="blocks__adresses">
                                <!-- ТЦ Неизведанное -->
                                <div class="adress">
                                    <img class="placeholder-icon" src="/img/icons/placeholder.svg" alt="Геолокация">
                                    <span class="adress-text">ТЦ "Пропащинск"</span>
                                </div>
                                <div class="adress">
                                    <img class="placeholder-icon" src="/img/icons/placeholder.svg" alt="Геолокация">
                                    <span class="adress-text">ТЦ "Неизведанное"</span>
                                </div>
                            </div>
                            <div class="blocks__jurisprudence">
                                УНП 691818940 от 22.08.20 <br>
                                г.Минск, Республика Беларусь <br>
                                Регистрация в торговом реестре 223456 <br>
                            </div>
                        </div>    
                    </div>
                    <div class="container__categories">
                        <div class="categories__list">
                            <li class="li-item">Обувь</li>
                            <li class="li-item"><a href="" class="item-link">Кроссовки</a></li>
                            <li class="li-item"><a href="" class="item-link">Кеды</a></li>
                            <li class="li-item"><a href="" class="item-link">Мокасины</a></li>
                            <li class="li-item"><a href="" class="item-link">Топсайдеры</a></li>
                            <li class="li-item"><a href="" class="item-link">Слипоны</a></li>
                            <li class="li-item"><a href="" class="item-link">Эспадрильки</a></li>
                            <li class="li-item"><a href="" class="item-link">Полуботинки</a></li>
                            <li class="li-item"><a href="" class="item-link">Сандали</a></li>
                        </div>
                        <div class="categories__list">
                            <li class="li-item">Бренды</li>
                            <li class="li-item"><a href="" class="item-link">Adidas</a></li>
                            <li class="li-item"><a href="" class="item-link">Fila</a></li>
                            <li class="li-item"><a href="" class="item-link">Reebok</a></li>
                            <li class="li-item"><a href="" class="item-link">CAT</a></li>
                            <li class="li-item"><a href="" class="item-link">Palladium</a></li>
                            <li class="li-item"><a href="" class="item-link">Asics</a></li>
                            <li class="li-item"><a href="" class="item-link">Nike</a></li>
                            <li class="li-item"><a href="" class="item-link">Kappa</a></li>
                        </div>
                        <div class="categories__list">
                            <li class="li-item">Магазин</li>
                            <li class="li-item"><a href="" class="item-link">Адреса</a></li>
                            <li class="li-item"><a href="" class="item-link">Доставка</a></li>
                            <li class="li-item"><a href="" class="item-link">Оплата</a></li>
                            <li class="li-item"><a href="" class="item-link">Рассрочка</a></li>
                            <li class="li-item"><a href="" class="item-link">Контакты</a></li>
                        </div>
                    </div>
            </div>
        </div>
        <div class="bottom__footer">
            <div class="bottom__container">
                <div class="container__telephone">
                    <a href="tel:+375259639803" class="phone">
                        <img src="/img/icons/phone-call.svg" alt="Телефон" class="phone-icon">
                        <span class="phone-text">+375 (25) 963-98-03</span>
                    </a>
                </div>
                <div class="container__socialmedia">
                    <a href="#" class="soc__icon"><img src="/img/icons/instagram.svg" alt="instagram" class="soc-item"></a>
                    <a href="#" class="soc__icon"><img src="/img/icons/vk.svg" alt="vkontakte" class="soc-item"></a>
                    <a href="#" class="soc__icon"><img src="/img/icons/telegram.svg" alt="telegram" class="soc-item"></a>
                </div>
            </div>
        </div>
    </footer>
