    <footer>
        <div class="top__footer">
            <div class="top__container">
                    <div class="container__info">
                        <div class="container__logo">
                            <a href="/" class="logo-link">pragma</a>
                        </div>
                        <div class="container__blocks">
                            <div class="blocks__adresses">
                                <!-- ТЦ Неизведанное -->
                                <div class="adress">
                                    <img class="placeholder-icon" src="/img/icons/placeholder.svg" alt="Геолокация">
                                    <span class="adress-text">ТЦ "Пропащинск"</span>
                                </div>
                                <div class="adress">
                                    <img class="placeholder-icon" src="/img/icons/placeholder.svg" alt="Геолокация">
                                    <span class="adress-text">ТЦ "Неизведанное"</span>
                                </div>
                            </div>
                            <div class="blocks__jurisprudence">
                                УНП 691818940 от 22.08.20 <br>
                                г.Минск, Республика Беларусь <br>
                                Регистрация в торговом реестре 223456 <br>
                            </div>
                        </div>    
                    </div>
                    <div class="container__categories">
                        <div class="categories__list">
                            <li class="li-item">Категории</li>
                            <% categories.forEach( category => { %>
                                <li class="li-item"><a href="/catalog/categories/<%= category.slug %>" class="item-link"><%= category.title %> </a></li>
                            <% }) %>
                        </div>
                        <div class="categories__list">
                            <li class="li-item">Бренды</li>
                            <% brands.forEach( brand => { %>
                                <li class="li-item"><a href="/catalog/brands/<%= brand.slug %>" class="item-link"><%= brand.title %> </a></li>
                            <% }) %>
                        </div>
                        <div class="categories__list">
                            <li class="li-item">Магазин</li>
                            <li class="li-item"><a href="/delivery" class="item-link">Доставка</a></li>
                            <li class="li-item"><a href="/payment" class="item-link">Оплата</a></li>
                            <li class="li-item"><a href="/contacts" class="item-link">Контакты</a></li>
                        </div>
                    </div>
            </div>
        </div>
        <div class="bottom__footer">
            <div class="bottom__container">
                <div class="container__telephone">
                    <a href="tel:+375258889899" class="phone">
                        <img src="/img/icons/phone-call.svg" alt="Телефон" class="phone-icon">
                        <span class="phone-text">+375 (25) 888-98-99</span>
                    </a>
                </div>
                <div class="container__socialmedia">
                    <a href="https://www.instagram.com" class="soc__icon"><img src="/img/icons/instagram.svg" alt="instagram" class="soc-item"></a>
                    <a href="https://vk.com" class="soc__icon"><img src="/img/icons/vk.svg" alt="vkontakte" class="soc-item"></a>
                    <a href="https://telegram.org" class="soc__icon"><img src="/img/icons/telegram.svg" alt="telegram" class="soc-item"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/modalWindow.js"></script>
