<body>
    <header>
        <div class="top__header">
            <div class="top__container">
                <div class="container__info">
                    <ul class="info__nav">
                        <li class="nav-item"><a href="/delivery" class="item-link fff">Доставка</a></li>
                        <li class="nav-item"><a href="/payment" class="item-link fff">Оплата</a></li>
                        <li class="nav-item"><a href="/contacts" class="item-link fff">Контакты</a></li>
                    </ul>
                </div>
                <div class="container__telephone">
                    <a href="tel:+375259639803" class="phone">
                        <img src="/img/icons/phone-call.svg" alt="Телефон" class="phone-icon">
                        <span class="phone-text">+375 (25) 963-98-03</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom__header">
            <div class="bottom__container">
                <div class="container__logo">
                    <a href="/" class="logo-link"><h1 class="logo-link">pragma</h1></a>
                </div>
                <div class="container__navbar">
                    <ul class="navbar__list">
                        <li class="list-item"><a href="/catalog" class="item-link">Вся обувь</a></li>
                        <li class="list-item"><a href="/catalog/men" class="item-link">Мужское</a></li>
                        <li class="list-item"><a href="/catalog/women" class="item-link">Женское</a></li>
                        <li class="list-item"><a href="#" class="item-link">Аксессуары</a></li>
                    </ul>
                </div>
                <div class="container__IUser">
                    <div class="IUser__cart">
                        <a class="IUser__link" href="#"><img class="interface-icon" src="/img/icons/shopping-cart.svg" alt="Корзина"></a>
                    </div>
                    <a href="/users/register" class="IUser__auth">
                        <img class="interface-icon" src="/img/icons/user.svg" alt="Авторизация">
                    </a>
                </div>
            </div>
        </div>
    </header>
