<main>
    <div class="delivery__container">
        <div class="delivery__top__container">
            <h1 class="delivery__top-header">Способы доставки</h1>
            <div class="delivery__top-img"><img src="/img/photos/delivery.jpg" alt="Доставка" style="width:100%"></div>
            <div class="delivery__top-info">Если вы живёте в Минске и вам некогда ходить по магазинам, мы рады предложить вам доставку заказов и примерку на дому. Вы можете заказать доставку сразу нескольких моделей разных размеров, примерить все и выбрать самые удобные. Доставка работает с 10.00 до 23.00
            </div>
        </div>
        <div class="delivery__bottom__container">
                <div class="delivery__bottom-item">
                    <h3 class="delivery__item-header">Самовывоз</h3>
                    <p class="delivery__item-text">
                        Если вам удобно забрать товар из пункта самовывоза, то сообщите об этом в комментарии к заказу или по телефону. Оплатить заказ вы можете с помощью банковской карты, приложения "Оплати", а также наличными деньгами
                    </p>
                    <h3 class="delivery__item-header by-your-self">
                        Пункты самовывоза:
                    </h3>
                        <div class="delivery__item-place"><img class="delivery__item-img" src="/img/icons/placeholder.svg" alt="Геолокация"><span>ТЦ "Пропащинск"</span></div>
                        <div class="devivery__item-place"><img class="delivery__item-img" src="/img/icons/placeholder.svg" alt="Геолокация"><span>ТЦ "Неизведанное"</span></div>
                </div>
                <div class="delivery__bottom-item">
                    <h3 class="delivery__item-header">Курьером</h3>
                    <p class="delivery__item-text">
                        Доставка курьером действует в пределах МКАД. Стоимость доставки: 5р. Для заказов общей суммой 250р доставка курьером бесплатная.
                    </p>
                </div>
                <div class="delivery__bottom-item">
                    <h3 class="delivery__item-header">Почта</h3>
                    <p class="delivery__item-text">
                        Доставка почтой осуществляется в Россию, Казахстан, Украину
                        Стоимость отправки заказа, зависит только от почтовой службы.
                    </p>
                </div>
        </div>     
    </div>   
</main>