<main>
    <div class="payment__container">
        <div class="payment__top__container">
            <h1 class="payment__top-header">Оплата</h1>
            <div class="payment__top-img"><img src="/img/photos/payment.jpg" alt="Оплата" style="width:100%"></div>
        </div>
        <div class="payment__bottom__container">
            <div class="payment__bottom-item">
                <h3 class="payment__item-header">В магазине</h3>
                <div class="payment__item-text">В наших магазинах вы можете оплатить покупки наличными, приложением "Оплати", банковскими картами</div>
            </div>
            <div class="payment__bottom-item">
                <h3 class="payment__item-header">Курьеру</h3>
                <div class="payment__item-text">Расплатиться с курьером вы можете с помощью безналичного и наличного расчета, а также приложением "Оплати". При оплате наличными указывайте с какой суммы вы бы хотели получить сдачу.</div>
            </div>
            <div class="payment__bottom-item">
                <h3 class="payment__item-header">Почта</h3>
                <div class="payment__item-text">Посылки отправляются только наложенным платежом. Способы оплаты уточняйте в отделении почты</div>
            </div>
        </div>
    </div>
</main>