<main>
    <div class="contacts__container">
        <div class="contacts__top__container">
            <h1 class="contacts__top-header">Контакты</h1>
        </div>
        <div class="contacts__bottom__container">
            <div class="contacts__bottom-item">
                <h4 class="bottom-item-header">Магазины</h4>
                <img src="/img/icons/placeholder.svg" alt="Геолокация" class="bottom-item-img">
                <div class="bottom-item-shop">ТЦ "Пропащинск"</div>
                <div class="bottom-item-shop">ТЦ "Неизведанное"</div>
            </div>
            <div class="contacts__bottom-item">
                <h4 class="bottom-item-header">Телефоны</h4>
                <img src="/img/icons/phone-call.svg" alt="Телефоны" class="bottom-item-img">
            </div>
            <div class="contacts__bottom-item">
                <h4 class="bottom-item-header">Соц.Сети</h4>
                <div class="bottom-item-socmedia">
                    <image class="item-socmedia-img" src="/img/icons/instagram.svg" alt="Инстаграм"><span>Инстраграм</span>
                </div>
                <div class="bottom-item-socmedia">
                    <img class="item-socmedia-img" src="/img/icons/vk.svg" alt="Вконтакте"><span>Вконтакте</span>
                </div>
                <div class="bottom-item-socmedia">
                    <img class="item-socmedia-img" src="/img/icons/telegram.svg" alt="Телеграм"><span>Телеграм</span>
                </div>
            </div>
        </div>
    </div>
</main>