<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="product__heading">

        </div>
        <div class="product__view">
            <div class="view__gallery">
                <div class="gallery__items">
                    <div class="gallery__item"></div>
                    <div class="gallery__item"></div>
                    <div class="gallery__item"></div>
                    <div class="gallery__item"></div>
                </div>
                <div class="gallery__mainitem"></div>
            </div>
            <div class="view__info">
                <div class="info__name">

                </div>
                <div class="info__desciption"></div>
                <div class="info__sales"></div>
                <div class="info__params">
                    <div class="param__color"></div>
                    <div class="param__season"></div>
                    <div class="param__material"></div>
                </div>
                <form action="">
                    <div class="form__size"></div>
                    <div class="form__buttons">
                        <button></button>
                        <button></button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>