    <main>
        <div class="startpage__container">
            <div class="container__main">
                <div class="main__banner">
                    <div class="banner__carousel">
                        <!-- заполнить ссылки в карусели -->
                        <div class="carousel-item">
                            <a href="#" class="carousel__link">
                                <img src="/img/photos/sex__men.jpeg" style="width:100%" alt="">
                                <div class="carousel-text">Мужское</div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#" class="carousel__link">
                                <img src="/img/photos/sex__women.jpeg" style="width:100%" alt="">
                                <div class="carousel-text">Женское</div>
                            </a>
                        </div>
                        <a class="prev" onclick="addSlide(-1)">&#10094</a>
                        <a class="next" onclick="addSlide(1)">&#10095</a>
                    </div>
                    <div class="banner__blocks">
                        <a href="#" class="blocks-item men__link">
                            <div class="blocks-text">Мужское</div>
                        </a>
                        <a href="#" class="blocks-item women__link">
                            <div class="blocks-text">Женское</div>
                        </a>
                    </div>
                </div>
                <a class="main__sale">
                    <!-- sales -->
                    <div class="sale__block">
                       sale 
                    </div>
                </a>
                <div class="main__banner">
                    <div class="banner__blocks__second">
                        <!-- изменить класс ссылок и добавить картинки -->
                        <a href="#" class="blocks-item men__link">
                            <div class="blocks-text">Мужское</div>
                        </a>
                        <a href="#" class="blocks-item women__link">
                            <div class="blocks-text">Женское</div>
                        </a>
                    </div>
                    <div class="banner__carousel">
                        <!-- заполнить ссылки в карусели -->
                        <div class="carousel-item-season">
                            <a href="#" class="carousel__link">
                                <img src="/img/photos/sex__men.jpeg" style="width:100%" alt="">
                                <div class="carousel-text">Мужское</div>
                            </a>
                        </div>
                        <div class="carousel-item-season">
                            <a href="#" class="carousel__link">
                                <img src="/img/photos/sex__women.jpeg" style="width:100%" alt="">
                                <div class="carousel-text">Женское</div>
                            </a>
                        </div>
                        <a class="prev" onclick="addSlideSeason(-1)">&#10094</a>
                        <a class="next" onclick="addSlideSeason(1)">&#10095</a>
                    </div>
                </div>            
            </div>
        </div>
    </main>