.calatolg__container {
    display: flex;
    font-size: 1.5rem;
}

.catalog__products {
    margin:0 auto;
    width:90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product__link {
    margin:22px 12px;
    width:242px;
    height:332px;
    display: flex;
    flex-direction: column;
    outline: none;
    color: #000;
    text-decoration: none;
    background-color: #f2f2f2;
}

.product__link:hover {
    box-shadow: 0 0 2px 2px #f2f2f2;
}

.product__image {
    width:100%;
    height:80%;
}

.product__info {
    height:16%;
    font-size: 1.3rem;
}

.product__info-name{
    padding: 4px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;;
    text-align: center;
    font-weight: 400;
}

.product__info-price {
    padding-top: 5px;
    text-align: center;
    font-weight: 700;
}

