/* styles for top footer */

.top__footer{
    padding: 25px 0px;
    background-color: #fffde8;
}


/* styles logo/jurisprudence */


.container__info{
    display:flex;
    flex-direction: column;
}

.container__blocks{
    margin-top:15px;
    display: flex;
    flex-direction: column;
}


/* styles for adresses */

.blocks__adresses{
    margin-bottom: 15px;
}

.adress{
    padding:3px 0px;
}

.placeholder-icon{
    width:14px;
}

.adress-text{
    letter-spacing: 1.2px;
    font-weight: 550;
}

/* styles for jurisprudence */

.blocks__jurisprudence{
    letter-spacing: 1.2px;
    font-size: 16px;
}


/* categories */



.container__categories{
    display: flex;
    flex-direction: row;
}

.categories__list{
    padding:5px 15px;
}

.container__categories .categories__list:first-child{
    margin-right:60px;
}

.container__categories .categories__list:last-child{
    margin-left:60px;
}

.li-item{
    text-decoration: none;
    list-style: none;
    color:#000;
    margin:4px 0px;
    font-size: 17px;
    font-weight: 510;
}

.categories__list .li-item:first-child{
    color:#000;
    font-weight: 670;
    font-size: 19px;
    margin-bottom: 8px;
}



/* styles for bottom footer */


.bottom__footer{
    background-color: #000;
    color:#fff;
}

.bottom__container{
    width:80%;
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__socialmedia{
    display: flex;
    flex-direction: row;
}

.soc__icon:first-child{
    margin-left:0px;
}

.soc__icon{
    text-decoration: none;
    margin-left:8px;
}

.soc-item {
    width:18px;
}

@media(max-width:768px){
    .top__container,
    .bottom__container {
        width:95%;
    }
    .top__footer{
        display: none;
    }
    .bottom__footer{
        margin-top:20px;
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
    }
    .overlay {
   
        /* Скрываем подложку  */
        opacity: 0;
        visibility: hidden;
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 20;
        transition: .3s all;
     }
     
     
     /* Стили для модальных окон */
     
     .modal {
        
        
        /*  Установаем ширину окна  */
        width: 100%;
        max-width: 320px;
        
        /*  Центрируем и задаем z-index */
        position: fixed;

        
        /*  Побочные стили   */
        box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
        text-align: center;
        padding: 30px;
        border-radius: 3px;
        background-color: #fff;
        transition: 0.3s all;
     }
     
     
     
     /* Стили для кнопки закрытия */
     
     .modal__cross {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        fill: #444;
        cursor: pointer;
     }
    
    .modal__header,
    .modal__field{
        padding:6px 12px;
        text-transform:capitalize;
    }
    
    .modal__header{
        font-weight: 800;
        font-size: 20px;
    }
    
    .modal__field-img {
        width:50px;
        height: 50px;
        object-fit: contain;
    }
}

@media(max-width: 576px) {
    .container__telephone:last-child {
        display: none;
    }
    .list-item {
        display:none;
    }
    .list-item:first-child{
        display: flex;
    }
}