<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-cat</title>
    <link rel="shortcut icon" href="/img/icons/p.png" type="image/png">
    <link rel="stylesheet" href="/admin_css/add_catbrand.css">
</head>
<body>
    <a href="/admin/categories">Вернуться к категориям</a>
    <form method="post" action="/admin/categories/add-category">
        <label for="">Категория</label>
        <input type="text" name="title" value="<%= title %>" placeholder="Название" required>
        <br><br>
        <button>Добавить</button>    
    </form>
</body>
</html>