<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-brand</title>
</head>
<body>
    <a href="/admin/brands">Вернуться к категориям</a>
    <form method="post" action="/admin/brands/add-brand">
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="Title" required>
        <br><br>
        <button>Submit</button>    
    </form>
</body>
</html>