<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-brand</title>
    <link rel="shortcut icon" href="/img/icons/p.png" type="image/png">
    <link rel="stylesheet" href="/admin_css/add_catbrand.css">
</head>
<body>
    <a href="/admin/brands">Вернуться к брендам</a>
    <form method="post" action="/admin/brands/edit-brand/<%= id %>">
        <label for="">Бренд</label>
        <input type="text" name="title" value="<%= title %>" placeholder="Новое название" required>
        <br><br>
        <button>Изменить</button>    
    </form>
</body>
</html>